PORT = 3000 # Puerto de aplicación, rango 3000-5000
DATABASE_URL = mongodb://localhost:27017/example-db # URL de conexión a MongoDB
SECRET_KEY = 3x@mp!et@ra # Clave secreta para JWT, debe de ser lo más aleatoria posible
GROQ_API_KEY = tu_api_key_aquí # Clave de API para uso de groq